# Ignore NPM module directories everywhere
node_modules/

# Ignore screenshot directories everywhere
screenshots/

# macOS system files
.DS_Store

# Language hack before Joomla 6 release
nginx/certs/
mirror/
